<mat-card>
  <mat-toolbar>
    <span>BIENVENIDO PROFESOR</span>
  </mat-toolbar>

  <mat-card-content>
    <div class="container">
      <form [formGroup]="profesorForm">
        <mat-toolbar class="span-activos">
          <span>RESERVA DE ACTIVOS</span>
        </mat-toolbar>
        <mat-form-field>
          <mat-label>ACTIVOS A RESERVAR: </mat-label>
          <mat-select multiple>
            <mat-optgroup value="">Seleccione</mat-optgroup>
            <mat-option value="videoBin">VideoBin</mat-option>
            <mat-option value="laptop">Laptop</mat-option>
            <mat-option value="vga">VGA</mat-option>
            <mat-option value="hdmi">HDMI</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            [matDatepicker]="dp3"
            disabled
            placeholder="Seleccione la Fecha"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="dp3"
          ></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
</mat-card>
